/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-size: 18px;
  font-family: "Poppins", "sans-serif";
  color: #1D2736;
}

.none {
  display: none;
}

.general__title {
  margin-bottom: 16px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
}
.general__title-inABox {
  font-size: 60px;
}
.general__title-AI {
  font-size: 48px;
  letter-spacing: -0.03em;
}
.general__title span {
  color: #F0998D;
}

.general__text {
  margin-bottom: 32px;
  font-size: 18px;
  color: #677487;
}

.header {
  max-width: 1182px;
  margin: 0 auto;
  margin-top: 35px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 106px;
       column-gap: 106px;
  align-items: center;
}

.header__nav {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.header__action {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1182px;
}

.nav {
  max-height: 22px;
  font-size: 14px;
  line-height: 160%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.nav__link {
  position: relative;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  transition: opacity 0.2s ease-in;
  opacity: 0;
  background-color: #1D2736;
}
.nav__link:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  transition: opacity 0.2s ease-in;
  opacity: 1;
  background-color: #1D2736;
}

.btn {
  width: 144px;
  height: 59px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #F0998D;
  border-radius: 15px;
  box-shadow: 0px 16px 40px rgba(255, 188, 166, 0.33);
  transition: background 0.1s ease-in, box-shadow 0.1s ease-in;
}
.btn:hover {
  background-color: #ea7160;
  box-shadow: 0px 16px 40px rgba(255, 188, 166, 0.45);
}
.btn-header {
  padding: 12px 24px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: medium;
  color: #F0998D;
  background-color: #FFF0EC;
  transition: color 0.2s ease-in, background 0.2s ease-in;
}
.btn-header:hover {
  color: #fff;
  background-color: #ffb4a0;
}

.inABox {
  margin-top: 61px;
  margin-bottom: 71px;
}

.inABox__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 65px;
       column-gap: 65px;
}

.inABox__cta {
  max-width: 412px;
}

.cta__footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.cta__grade {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  align-items: center;
  margin-bottom: 17px;
}

.grade__text {
  font-size: 15px;
  color: #677487;
}

.cta__sponsors {
  display: flex;
  -moz-column-gap: 38px;
       column-gap: 38px;
  padding-left: 5px;
}

.form-cta {
  display: flex;
  flex-direction: column;
}

.form__input {
  padding: 14px 21px;
  border: 1px solid #DFE8FA;
  border-radius: 15px;
}
.form__input::-moz-placeholder {
  color: primaryLight;
}
.form__input::placeholder {
  color: primaryLight;
}

.form__wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 16px;
}

.form__text {
  font-size: 15px;
  font-weight: 700;
  color: #BBC0C7;
}

.section__tabs {
  padding: 100px;
  padding-bottom: 140px;
  background-color: #FDF9F8;
}

.tabs__header {
  display: flex;
  gap: 48px;
  align-items: center;
  margin-bottom: 74px;
}

.tabs__header-item {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.tabs__header-item.active {
  position: relative;
}
.tabs__header-item.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F0998D;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab__item {
  flex: 0 1 48%;
}
.tab__item.left__item {
  flex: 0 1 376px;
}

.tab__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #677487;
}

.tab__tags {
  display: flex;
  gap: 16px;
  margin-top: 8px;
  margin-bottom: 40px;
}

.tab__tag {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  padding-right: 16px;
}
.tab__tag:not(.tab__tag:last-child) {
  border-right: 1px solid rgba(29, 39, 54, 0.1);
}/*# sourceMappingURL=main.css.map */