/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-size: 18px;
  font-family: "Poppins", "sans-serif";
  color: #1D2736;
}
@media (max-width: 766px) {
  body .burger {
    display: block;
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.none {
  display: none;
}

.general__title {
  margin-bottom: 16px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
}
.general__title-inABox {
  font-size: 60px;
}
.general__title-AI {
  font-size: 48px;
  letter-spacing: -0.04em;
}
.general__title-selling {
  letter-spacing: -0.03em;
}
.general__title-pricing {
  letter-spacing: -0.03em;
}
.general__title-center {
  text-align: center;
}
.general__title span {
  color: #F0998D;
}

.general__text {
  margin-bottom: 32px;
  font-size: 18px;
  color: #677487;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 115;
  background-color: black;
}

.header {
  margin: 0 auto;
  margin-top: 35px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 106px;
       column-gap: 106px;
  align-items: center;
}
@media (max-width: 1200px) {
  .header__inner {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (max-width: 999px) {
  .header__inner {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 447px) {
  .header__inner {
    gap: 10px;
  }
}

.header__nav {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.header__action {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1222px;
}

.nav {
  max-height: 22px;
  font-size: 14px;
  line-height: 160%;
}
@media (max-width: 992px) {
  .nav {
    font-size: 12px;
  }
}
@media (max-width: 819px) {
  .nav {
    font-size: 10px;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1200px) {
  .nav__list {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (max-width: 766px) {
  .nav__list {
    display: none;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}

.nav__link {
  position: relative;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  transition: opacity 0.2s ease-in;
  opacity: 0;
  background-color: #1D2736;
}
.nav__link:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  transition: opacity 0.2s ease-in;
  opacity: 1;
  background-color: #1D2736;
}

.burger {
  cursor: pointer;
  width: 24px;
  height: 15px;
  display: none;
  z-index: 1000;
}
.burger button {
  display: block;
  width: 100%;
  height: 3px;
  position: relative;
  background-color: #1D2736;
  border-radius: 3px;
}
.burger button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 6px;
  left: 0;
  background-color: #1D2736;
  border-radius: 3px;
  transition: transform 0.2s ease-in;
}
.burger button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 12px;
  left: 0;
  background-color: #1D2736;
  border-radius: 3px;
  transition: transform 0.2s ease-in;
}
.burger.active button {
  background-color: transparent;
}
.burger.active button::after {
  transform: rotate(45deg);
}
.burger.active button::before {
  top: 6px;
  transform: rotate(-45deg);
}

.btn {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #F0998D;
  border-radius: 15px;
  box-shadow: 0px 16px 40px rgba(255, 188, 166, 0.33);
  transition: background 0.1s ease-in, box-shadow 0.1s ease-in;
}
.btn:hover {
  background-color: #ea7160;
  box-shadow: 0px 16px 40px rgba(255, 188, 166, 0.45);
}
.btn-header {
  padding: 12px 24px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: medium;
  color: #F0998D;
  background-color: #FFF0EC;
  transition: color 0.2s ease-in, background 0.2s ease-in;
}
.btn-header:hover {
  color: #fff;
  background-color: #ffb4a0;
}
.inABox {
  margin-top: 61px;
  margin-bottom: 71px;
}

.inABox__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 65px;
       column-gap: 65px;
}

.inABox__cta {
  max-width: 412px;
}

.cta__footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.cta__grade {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  align-items: center;
  margin-bottom: 17px;
}

.grade__text {
  font-size: 15px;
  color: #677487;
}

.cta__sponsors {
  display: flex;
  -moz-column-gap: 38px;
       column-gap: 38px;
  padding-left: 5px;
}

.form-cta {
  display: flex;
  flex-direction: column;
}

.form__input {
  padding: 14px 21px;
  border: 1px solid #DFE8FA;
  border-radius: 15px;
}
.form__input::-moz-placeholder {
  color: primaryLight;
}
.form__input::placeholder {
  color: primaryLight;
}

.form__wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 16px;
}

.form__text {
  font-size: 15px;
  font-weight: 700;
  color: #BBC0C7;
}

.section__tabs {
  padding: 100px;
  padding-bottom: 140px;
  background-color: #FDF9F8;
}

.tabs__header {
  display: flex;
  gap: 48px;
  align-items: center;
  margin-bottom: 74px;
}

.tabs__header-item {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease-in;
}
.tabs__header-item.active {
  position: relative;
}
.tabs__header-item.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  animation: fade 0.5s linear;
  background-color: #F0998D;
}
.tabs__header-item:hover {
  color: #F0998D;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab__item {
  flex: 0 1 48%;
}
.tab__item.left__item {
  flex: 0 1 376px;
}

.tabs__content-item {
  animation: fade 0.5s linear;
}

.tab__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #677487;
}

.tab__tags {
  display: flex;
  gap: 16px;
  margin-top: 8px;
  margin-bottom: 40px;
}

.tab__tag {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  padding-right: 16px;
}
.tab__tag:not(.tab__tag:last-child) {
  border-right: 1px solid rgba(29, 39, 54, 0.1);
}

.tab__img {
  max-width: 586px;
  width: 100%;
  height: auto;
}

.selling {
  display: flex;
  align-items: center;
  gap: 62px;
  margin-bottom: 140px;
}

.selling__left {
  width: 50%;
}

.selling__text {
  margin-top: 24px;
  font-size: 18px;
  color: #677487;
}

.selling__right {
  display: flex;
  flex-direction: column;
  gap: 56px;
  width: 50%;
  padding: 40px 0 40px 62px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.selling__title {
  font-size: 18px;
  font-weight: 600;
  color: #1D2736;
  margin-top: 14px;
}

.section__pricing {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 89px;
}

.pricing__inner {
  flex: 0 1 50%;
}

.unlimited {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.unlimited__item {
  font-size: 18px;
  font-weight: 500;
  border-radius: 24px;
  text-align: center;
  padding: 8px 20px;
}
.unlimited__item-red {
  color: #FF8B7A;
  background-color: #FFF1EF;
  border: 1px solid #FFD1CA;
}
.unlimited__item-orange {
  color: #FFAC2F;
  background-color: #FFF8EE;
  border: 1px solid #FFCA7A;
}
.unlimited__item-green {
  color: #3ACD77;
  background-color: #ECFFF4;
  border: 1px solid #98FAC0;
}
.unlimited__item-blue {
  color: #2BC0CA;
  background-color: #F1FEFF;
  border: 1px solid #6EE1E9;
}
.unlimited__item-purple {
  color: #C140FD;
  background-color: #FCF5FF;
  border: 1px solid #EBBDFF;
}

.pricing__img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews {
  padding: 140px 100px;
  position: relative;
  margin-bottom: 500px;
}

.slide__btn {
  position: absolute;
  background: none;
  z-index: 11;
  transition: all 0.2s ease-in;
}
.slide__btn:hover line {
  stroke: #F0998D;
}
.slide__btn:hover circle {
  stroke: #F0998D;
}
.slide__btn_prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.slide__btn_next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slide {
  display: flex;
  gap: 32px;
  align-items: center;
}

.slide__avatar {
  position: relative;
}

.slide__img {
  max-width: none;
}

.slide__play-btn {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.slide__name {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
}

.slide__text {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
}

.section__footer {
  padding: 0 140px;
  padding-bottom: 79px;
  background-color: #3B434F;
  position: relative;
}

.footer__form {
  width: 100%;
  max-width: 1182px;
  background: #FFFFFF;
  box-shadow: 0px -10px 150px rgba(80, 88, 100, 0.05);
  border-radius: 20px;
  padding: 120px 48px;
  margin-bottom: 100px;
  position: absolute;
  top: -333px;
}

.contacts__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 40px;
  margin-top: 74px;
}

.contacts__subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  color: #1D2736;
}

.footer__input {
  width: 100%;
  padding: 24px 32px;
}
.footer__input::-moz-placeholder {
  color: #677487;
}
.footer__input::placeholder {
  color: #677487;
}

.footer__btn {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
}

.footer__content {
  margin-top: 550px;
  display: flex;
  justify-content: space-between;
}

.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__item-right__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 90px;
       column-gap: 90px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  color: #fff;
}

.footer__link {
  position: relative;
}
.footer__link::after {
  content: "";
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  transition: opacity 0.2s ease-in;
}
.footer__link:hover::after {
  content: "";
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
}

.footer__logo:hover img {
  transform: scale(1.1);
  transition: all 0.1s ease-in;
}

.footer__social {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}

.social__link:hover img {
  transform: scale(1.1);
  transition: all 0.1s ease-in;
}

.footer__copyright {
  text-align: center;
  margin-top: 80px;
  color: rgba(255, 255, 255, 0.5);
}

.page.overlay .burger {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: auto;
}
.page.overlay .burger button::after, .page.overlay .burger button::before {
  background-color: #fff;
}
.page.overlay .btn {
  display: none;
}
.page.overlay .header__logo {
  display: none;
}
.page.overlay .nav__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 100px auto;
  font-size: 18px;
  color: #fff;
}
.page.overlay .nav__link::after {
  background-color: #fff;
  bottom: -10px;
}/*# sourceMappingURL=main.css.map */