.form {

    &-cta {
        display: flex;
        flex-direction: column;

        input {
            @media (max-width: 766px) {
                padding: 8px 14px;
                font-size: 14px;
            }

            @media (max-width: 555px) {
                padding: 16px 24px;
            }
        }
    }
}

.form__input {
    padding: 14px 21px;
    border: 1px solid #DFE8FA;
    border-radius: 15px;

    &::placeholder {
        color: primaryLight;
    }
}

.form__wrapper {
    display: flex;
    align-items: center;
    column-gap: 30px;

    margin-top: 16px;

    @media (max-width: 766px) {
        column-gap: 10px;
    }
    
    @media (max-width: 555px) {
        justify-content: space-between;

        .btn {
            padding: 16px 36px;
        }
    }
}

.form__text {
    font-size: 15px;
    font-weight: 700;
    color: #BBC0C7;

    @media (max-width: 945px) {
        font-size: 10px;
    }
}