.inABox {
    margin-top: 61px;
    margin-bottom: 71px;
}

.inABox__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 65px;
}

.inABox__cta {
    max-width: 412px;
}


.cta__footer {
    display: flex;
    flex-direction: column;

    margin-top: 30px;
}

.cta__grade {
    display: flex;
    column-gap: 18px;
    align-items: center;

    margin-bottom: 17px;
}

.grade__text {
    font-size: 15px;
    color: $primaryLight;
}

.cta__sponsors {
    display: flex;
    column-gap: 38px;

    padding-left: 5px;
}
