.nav {
    max-height: 22px;

    font-size: 14px;
    line-height: 160%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.nav__link {
    position: relative;
    
    &::after {
        @include underline;

        opacity: 0;
        background-color: $primary;
    }

    &:hover {

        &::after {
            @include underline;

            opacity: 1;
            background-color: $primary;
        }
    }
}
