.section__pricing {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
}

.pricing {
    display: flex;
    align-items: center;
    gap: 89px;

    @media (max-width: 1250px) {
        gap: 20px;
    }

    @media (max-width: 768px) {
        gap: 0;
    }

    @media (max-width: 697px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.pricing__inner {
    flex: 0 1 50%;

    @media (max-width: 697px) {
        flex: 0 1 100%;
        text-align: center;
    }
}

.unlimited {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-top: 40px;
    margin-bottom: 40px;

    @media (max-width: 1250px) {
        gap: 8px;
    }

    @media (max-width: 992px) {
        gap: 5px;
    }

    @media (max-width: 697px) {
        margin: 20px 0;
        justify-content: center;
    }
}

.unlimited__item {
    font-size: 18px;
    font-weight: 500;
    border-radius: 24px;
    text-align: center;

    padding: 8px 20px;

    &-red {
        color: #FF8B7A;
        background-color: #FFF1EF;
        border: 1px solid #FFD1CA;
    }

    &-orange {
        color: #FFAC2F;
        background-color: #FFF8EE;
        border: 1px solid #FFCA7A;
    }

    &-green {
        color: #3ACD77;
        background-color: #ECFFF4;
        border: 1px solid #98FAC0;
    }

    &-blue {
        color: #2BC0CA;
        background-color: #F1FEFF;
        border: 1px solid #6EE1E9;
    }

    &-purple {
        color: #C140FD;
        background-color: #FCF5FF;
        border: 1px solid #EBBDFF;
    }

    @media (max-width: 1250px) {
        font-size: 14px;
        padding: 10px 15px;
    }

    @media (max-width: 992px) {
        font-size: 12px;
        padding: 6px 8px;
    }
}

// .pricing__image {
//     @media (max-width: 697px) {
//         flex: 0 1 100%;
//     }
// }

.pricing__img {
    max-width: 100%;
    height: auto;
    object-fit: cover;

    @media (max-width: 992px) {
        width: 100%;
        max-width: 500px;
    }

    @media (max-width: 768px) {
        max-width: 400px;
    }

    @media (max-width: 697px) {
        flex: 0 1 100%;
        max-width: 600px;
    }
}
