.reviews {
    padding: 140px 100px;
    position: relative;

    margin-bottom: 500px;

    @media (max-width: 1250px) {
        padding: 60px 80px;
    }

    @media (max-width: 992px) {
        padding: 40px 50px
    }
}

.slide__btn {
    position: absolute;
    background: none;
    z-index: 11;

    transition: all 0.2s ease-in;

    &:hover {
        line {
            stroke: $accent;
        };

        circle {
            stroke: $accent;
        }
    }

    &_prev {
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: 992px) {
            width: 40px;
            height: 40px;
        }
    }

    &_next {
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: 992px) {
            width: 40px;
            height: 40px;
        }
    }
}

.slide {
    display: flex;
    gap: 32px;
    align-items: center;

    @media (max-width: 1250px) {
        gap: 16px;
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.slide__avatar {
    position: relative;
}

.slide__img {
    max-width: none;

    @media (max-width: 1250px) {
        width: 250px;
        height: 250px;
    }

    @media (max-width: 992px) {
        width: 150px;
        height: 150px;
    }
}

.slide__play-btn {
    position: absolute;
    bottom: 40px;
    right: 40px;

    @media (max-width: 1250px) {
        img {
            width: 75px;
            height: 75px;
        }
    }

    @media (max-width: 992px) {
        img {
            width: 50px;
            height: 50px;
        }

        bottom: 15px;
        right: 15px;
    }
}


.slide__name {
    margin-bottom: 24px;

    font-size: 18px;
    font-weight: 600;

    @media (max-width: 992px) {
        font-size: 15px;
    }

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.slide__text {
    margin-bottom: 16px;

    font-size: 18px;
    font-weight: 400;

    @media (max-width: 1250px) {
        font-size: 15px;
    }

    @media (max-width: 992px) {
        font-size: 13px;
    }
}

.slide__icon {
    @media (max-width: 992px) {

        img {
            width: 35px;
            height: 35px;
        }
    }
}

// .slide__info {
//     @media (max-width: 768px) {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//     }
// }