.reviews {
    padding: 140px 100px;
    position: relative;

    margin-bottom: 500px;
}

.slide__btn {
    position: absolute;
    background: none;
    z-index: 11;

    transition: all 0.2s ease-in;

    &:hover {
        line {
            stroke: $accent;
        };

        circle {
            stroke: $accent;
        }
    }

    &_prev {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &_next {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.slide {
    display: flex;
    gap: 32px;
    align-items: center;
}

.slide__avatar {
    position: relative;
}

.slide__img {
    max-width: none;
}

.slide__play-btn {
    position: absolute;
    bottom: 40px;
    right: 40px;
}


.slide__name {
    margin-bottom: 24px;

    font-size: 18px;
    font-weight: 600;
}

.slide__text {
    margin-bottom: 16px;

    font-size: 18px;
    font-weight: 400;
}