.selling {
    display: flex;
    align-items: center;
    gap: 62px;

    margin-bottom: 140px;

    @media (max-width: 1250px) {
        gap: 20px;
    }

    @media (max-width: 555px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.selling__left {
    width: 50%;

    @media (max-width: 555px) {
        width: 100%;
    }
}

.selling__text {
    margin-top: 24px;

    font-size: 18px;
    color: $primaryLight;

    @media (max-width: 1250px) {
        margin-top: 16px;

        font-size: 14px;
    }

}

.selling__right {
    display: flex;
    flex-direction: column;
    gap: 56px;

    width: 50%;
    padding: 40px 0 40px 62px;
    
    border-left: 1px solid rgba(#000, 0.1);

    @media (max-width: 1250px) {
        padding: 15px 0 15px 25px;
    }

    @media (max-width: 766px) {
        gap: 25px;
    }

    @media (max-width: 555px) {
        width: 100%;
        padding: 10px;
        border: none;
        border-top: 1px solid rgba(#000, 0.1);
    }
}

.selling__title {
    font-size: 18px;
    font-weight: 600;
    color: $primary;

    margin-top: 14px;
}



