@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); // Poppins

body {
    font-size: 18px;
    font-family: 'Poppins', 'sans-serif';
    color: $primary;
}

.none {
    display: none;
}

.general__title {
    margin-bottom: 16px;

    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
    

    &-inABox {
        font-size: 60px;
    }

    &-AI {
        font-size: 48px;
        letter-spacing: -0.04em
    }

    &-selling {
        letter-spacing: -0.03em
    }

    &-pricing {
        letter-spacing: -0.03em
    }

    span {
        color: $accent;
    }
}

.general__text {
    margin-bottom: 32px;

    font-size: 18px;
    color: $primaryLight;
}

@keyframes fade {
    0% {
        opacity: 0;
    } 

    100% {
        opacity: 1;
    }
}